---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.crypto.com
  resources:
  - cryptodatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.crypto.com
  resources:
  - cryptodatabases/finalizers
  verbs:
  - update
- apiGroups:
  - database.crypto.com
  resources:
  - cryptodatabases/status
  verbs:
  - get
  - patch
  - update
