---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  name: cryptocaches.database.crypto.com
spec:
  group: database.crypto.com
  names:
    kind: CryptoCache
    listKind: CryptoCacheList
    plural: cryptocaches
    singular: cryptocache
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CryptoCache is the Schema for the cryptocaches API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CryptoCacheSpec defines the desired state of CryptoCache
            properties:
              memory:
                type: string
            required:
            - memory
            type: object
          status:
            description: CryptoCacheStatus defines the observed state of CryptoCache
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
