---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  name: cryptodatabases.database.crypto.com
spec:
  group: database.crypto.com
  names:
    kind: CryptoDatabase
    listKind: CryptoDatabaseList
    plural: cryptodatabases
    singular: cryptodatabase
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CryptoDatabase is the Schema for the cryptodatabases API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CryptoDatabaseSpec defines the desired state of CryptoDatabase
            properties:
              storageSize:
                description: StorageSize defines the size of the PVC (e.g., "10Gi")
                type: string
            required:
            - storageSize
            type: object
          status:
            description: CryptoDatabaseStatus defines the observed state of CryptoDatabase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
